body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    padding: 40px 40px 40px 40px;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    background-color: #ffffff;
    width: 1200;
    margin: 0 auto;
}

.main-content {
    padding: 88px;
}

.my-profession {
    margin-bottom: 18px;
}

h2 {
    font-size: 35px;
}

.sidebar {
    width: 370px;
    background-color: #E0EBFE;
}

.my-photo {
    margin-top: 40px;
}

.contacts-container,
.tech-skills-container,
.soft-skills-container {
    margin: 48px 0 0 40px;
}

.sidebar-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #161d2a;
    margin-bottom: 8px;
}

.contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #161d2a;
    margin-right: 8px;
}

.contacts-item {
    margin: 0;
}

.contacts-number {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #161D2A;
}

.contacts-email {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2979FF;
}

.skills-list {
    margin: 0;
    padding: 0 0 0 12px;
}

.skills-list-item {
    color: #6D9BF5;
}

.skills-list-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #161D2A;
}

.soft-skills-list {
    margin: 0;
    padding: 0 0 0 12px;
}

.soft-skills-list-item {
    color: #6D9BF5;
}

.soft-skills-list-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #161D2A;
}